@model Escuela

@{
    ViewData["Title"] = "Informacion Escuela";
    Layout = "Simple";
}
<h1>Escuela: @ViewData["Title"] </h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año Funadacion:@Model.AñoDeCreación</p>

<p><i>@ViewBag.CosaDinamica</i></p>

