@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Informacion Asignatura";
    Layout = "Simple";
}
<h1>@ViewData["Title"] </h1>
<strong>Desde la vista normal</strong>

<partial name="ListaObjetoEscuela"/>



<p><i>@ViewBag.Fecha</i></p>

